:root {
	--radius-factor: 1;

	--neutral-50: hsl(0, 0%, 98%);
	--neutral-100: hsl(0, 0%, 96%);
	--neutral-200: hsl(0, 0%, 94%);
	--neutral-300: hsl(0, 0%, 90%);
	--neutral-400: hsl(0, 0%, 85%);
	--neutral-500: hsl(0, 0%, 80%);
	--neutral-600: hsl(0, 0%, 75%);
	--neutral-700: hsl(0, 0%, 70%);
	--neutral-800: hsl(0, 0%, 28%);
	--neutral-900: hsl(0, 0%, 16%);
	--neutral-950: hsl(0, 0%, 12%);

	--accent-50: hsl(210, 100%, 88%);
	--accent-100: hsl(210, 100%, 85%);
	--accent-200: hsl(210, 100%, 81%);
	--accent-300: hsl(210, 100%, 74%);
	--accent-400: hsl(210, 100%, 67%);
	--accent-500: hsl(210, 64%, 55%);
	--accent-600: hsl(210, 51%, 44%);
	--accent-700: hsl(210, 51%, 36%);
	--accent-800: hsl(210, 52%, 29%);
	--accent-900: hsl(211, 52%, 17%);
	--accent-950: hsl(211, 52%, 12%);

	--success-50: hsl(130, 34%, 83%);
	--success-100: hsl(130, 34%, 80%);
	--success-200: hsl(131, 35%, 75%);
	--success-300: hsl(131, 35%, 66%);
	--success-400: hsl(132, 35%, 56%);
	--success-500: hsl(131, 41%, 43%);
	--success-600: hsl(132, 41%, 34%);
	--success-700: hsl(132, 41%, 28%);
	--success-800: hsl(131, 41%, 23%);
	--success-900: hsl(131, 40%, 13%);
	--success-950: hsl(132, 42%, 9%);

	--warning-50: hsl(35, 100%, 80%);
	--warning-100: hsl(35, 100%, 75%);
	--warning-200: hsl(35, 100%, 69%);
	--warning-300: hsl(35, 100%, 58%);
	--warning-400: hsl(35, 93%, 49%);
	--warning-500: hsl(35, 92%, 41%);
	--warning-600: hsl(35, 93%, 32%);
	--warning-700: hsl(35, 93%, 26%);
	--warning-800: hsl(35, 93%, 22%);
	--warning-900: hsl(35, 94%, 12%);
	--warning-950: hsl(36, 91%, 9%);

	--danger-50: hsl(358, 69%, 90%);
	--danger-100: hsl(358, 69%, 88%);
	--danger-200: hsl(358, 69%, 85%);
	--danger-300: hsl(358, 70%, 79%);
	--danger-400: hsl(358, 69%, 73%);
	--danger-500: hsl(358, 69%, 63%);
	--danger-600: hsl(358, 64%, 49%);
	--danger-700: hsl(358, 63%, 41%);
	--danger-800: hsl(358, 64%, 33%);
	--danger-900: hsl(357, 64%, 20%);
	--danger-950: hsl(358, 65%, 15%);

	--info-50: hsl(210, 100%, 88%);
	--info-100: hsl(210, 100%, 84%);
	--info-200: hsl(210, 100%, 81%);
	--info-300: hsl(210, 100%, 74%);
	--info-400: hsl(210, 100%, 67%);
	--info-500: hsl(210, 64%, 55%);
	--info-600: hsl(210, 51%, 44%);
	--info-700: hsl(210, 51%, 36%);
	--info-800: hsl(210, 52%, 29%);
	--info-900: hsl(211, 52%, 17%);
	--info-950: hsl(211, 52%, 12%);
}

.dark {
	--neutral-50: hsl(0, 6%, 4%);
	--neutral-100: hsl(240, 6%, 8%);
	--neutral-200: hsl(240, 6%, 10%);
	--neutral-300: hsl(240, 6%, 17%);
	--neutral-400: hsl(240, 6%, 23%);
	--neutral-500: hsl(240, 6%, 33%);
	--neutral-600: hsl(240, 6%, 47%);
	--neutral-700: hsl(240, 6%, 55%);
	--neutral-800: hsl(240, 6%, 70%);
	--neutral-900: hsl(240, 6%, 85%);
	--neutral-950: hsl(240, 10%, 98%);

	--accent-50: hsl(211, 51%, 12%);
	--accent-100: hsl(211, 51%, 15%);
	--accent-200: hsl(211, 52%, 18%);
	--accent-300: hsl(210, 52%, 29%);
	--accent-400: hsl(209, 51%, 40%);
	--accent-500: hsl(210, 52%, 48%);
	--accent-600: hsl(210, 51%, 55%);
	--accent-700: hsl(210, 68%, 62%);
	--accent-800: hsl(210, 97%, 71%);
	--accent-900: hsl(210, 100%, 82%);
	--accent-950: hsl(210, 100%, 87%);

	--success-50: hsl(131, 44%, 8%);
	--success-100: hsl(131, 44%, 11%);
	--success-200: hsl(130, 41%, 14%);
	--success-300: hsl(131, 41%, 18%);
	--success-400: hsl(132, 41%, 22%);
	--success-500: hsl(131, 41%, 44%);
	--success-600: hsl(131, 41%, 48%);
	--success-700: hsl(131, 41%, 54%);
	--success-800: hsl(131, 34%, 70%);
	--success-900: hsl(131, 34%, 76%);
	--success-950: hsl(130, 35%, 83%);

	--warning-50: hsl(35, 100%, 7%);
	--warning-100: hsl(35, 100%, 18%);
	--warning-200: hsl(34, 100%, 21%);
	--warning-300: hsl(35, 96%, 22%);
	--warning-400: hsl(35, 100%, 38%);
	--warning-500: hsl(35, 100%, 48%);
	--warning-600: hsl(35, 100%, 58%);
	--warning-700: hsl(35, 100%, 66%);
	--warning-800: hsl(35, 93%, 65%);
	--warning-900: hsl(35, 100%, 72%);
	--warning-950: hsl(35, 100%, 80%);

	--danger-50: hsl(357, 64%, 14%);
	--danger-100: hsl(357, 64%, 18%);
	--danger-200: hsl(358, 64%, 21%);
	--danger-300: hsl(358, 64%, 26%);
	--danger-400: hsl(358, 64%, 32%);
	--danger-500: hsl(358, 64%, 42%);
	--danger-600: hsl(358, 69%, 51%);
	--danger-700: hsl(358, 69%, 60%);
	--danger-800: hsl(358, 69%, 70%);
	--danger-900: hsl(359, 70%, 86%);
	--danger-950: hsl(358, 69%, 90%);

	--info-50: hsl(211, 51%, 12%);
	--info-100: hsl(211, 51%, 15%);
	--info-200: hsl(211, 52%, 18%);
	--info-300: hsl(210, 52%, 29%);
	--info-400: hsl(209, 51%, 40%);
	--info-500: hsl(210, 52%, 48%);
	--info-600: hsl(210, 51%, 55%);
	--info-700: hsl(210, 68%, 62%);
	--info-800: hsl(210, 97%, 71%);
	--info-900: hsl(210, 100%, 82%);
	--info-950: hsl(210, 100%, 87%);
}
