@theme {
	--ease-fluid-out: cubic-bezier(0.32, 0.72, 0, 1);
}

@theme inline {
	/* animations */
	--animate-accordion-down: accordion-down 0.15s ease-out;
	--animate-accordion-up: accordion-up 0.15s ease-out;
	--animate-collapsible-down: collapsible-down 0.15s ease-out;
	--animate-collapsible-up: collapsible-up 0.15s ease-out;
	--animate-line-spinner: line-spinner 1.2s linear infinite;
	--animate-dot-spinner: dot-spinner 0.8s linear infinite;
	/* progress-bar */
	--animate-progress-indeterminate:
		progress-grow var(--progress-duration) 1 both normal, progress-pulse 1s ease var(--progress-duration) infinite
		normal none running;
	/* loader:ring-2 */
	--animate-loader-ring-stretch: loader-ring-stretch calc(var(--loader-speed) * 0.75) ease-in-out infinite;
}

/* loader:ring-2 */
@keyframes loader-ring-stretch {
	0% {
		stroke-dasharray: 0, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 75, 150;
		stroke-dashoffset: -25;
	}
	100% {
		stroke-dashoffset: -99;
	}
}

/* Accordion */

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes collapsible-down {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
		opacity: 1;
	}
}

@keyframes collapsible-up {
	from {
		height: var(--radix-collapsible-content-height);
		opacity: 1;
	}
	to {
		height: 0;
		opacity: 0;
	}
}

@keyframes progress-grow {
	0% {
		transform: scaleX(0.01);
	}
	20% {
		transform: scaleX(0.1);
	}
	30% {
		transform: scaleX(0.6);
	}
	40%,
	50% {
		transform: scaleX(0.9);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes progress-pulse {
	0% {
		mask-position: 200% center;
	}
	100% {
		mask-position: 0% center;
	}
}

@keyframes line-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.15;
	}
}

@keyframes dot-spinner {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0.15;
		transform: scale(0.5);
	}
}
