@variant dark (&:where(.dark, .dark *));

@variant in-popover ([data-slot="popover"] &);
@variant in-modal ([data-slot="modal"] &);
@variant in-drawer ([data-slot="drawer"] &);

@utility focus-reset {
  @apply ring-0 ring-transparent outline-none;
}

@utility focus-ring {
  @apply ring-2 ring-border-focus ring-offset-2 ring-offset-bg;
}

@utility focus-input {
  @apply border-border-focus ring-2 ring-border-focus-muted;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}

::selection {
  background-color: var(--accent-800);
  color: var(--on-accent-800);
}

@utility skeleton-provider {
  @apply text-transparent!;

  [data-slot="input-group"] {
    @apply animate-pulse border-0 bg-muted;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="input"]:not([data-in-group]),
  [data-slot="textarea"]:not([data-in-group]) {
    @apply animate-pulse border-0 bg-muted text-transparent placeholder:text-transparent;
  }

  [data-slot="button"] {
    @apply animate-pulse border-transparent! bg-muted! text-transparent!;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="button-group"] {
    @apply animate-pulse rounded-md border-0 bg-muted! text-transparent!;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="label"] {
    @apply inline;
    &::after {
      @apply !opacity-0;
    }
  }

  [data-slot="skeleton-text"] {
    @apply inline animate-pulse rounded-sm bg-muted text-transparent!;
  }
}
