@variant dark (&:where(.dark, .dark *));

@variant in-popover ([data-slot="popover"] &);
@variant in-modal ([data-slot="modal"] &);
@variant in-drawer ([data-slot="drawer"] &);

@utility focus-reset {
  @apply ring-border-focus outline-none ring-0;
}

@utility focus-ring {
  @apply ring-offset-bg ring-2 ring-offset-2;
}

@utility focus-input {
  @apply border-border-focus ring-2;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}
