@variant dark (&:where(.dark, .dark *));

@variant in-popover ([data-slot="popover"] &);
@variant in-modal ([data-slot="modal"] &);
@variant in-drawer ([data-slot="drawer"] &);

@utility focus-reset {
  @apply outline-none ring-0 ring-transparent;
}

@utility focus-ring {
  @apply ring-border-focus ring-offset-bg ring-2 ring-offset-2;
}

@utility focus-input {
  @apply border-border-focus ring-border-focus-muted ring-2;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}

@utility skeleton-provider {
  @apply text-transparent!;

  [data-slot="input-group"] {
    @apply bg-muted animate-pulse border-0;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="input"]:not([data-in-group]),
  [data-slot="textarea"]:not([data-in-group]) {
    @apply bg-muted animate-pulse border-0 text-transparent placeholder:text-transparent;
  }

  [data-slot="button"] {
    @apply bg-muted! text-transparent! animate-pulse border-transparent!;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="button-group"] {
    @apply bg-muted! text-transparent! animate-pulse border-0 rounded-md;
    * {
      @apply opacity-0;
    }
  }

  [data-slot="label"] {
    @apply inline;
    &::after {
      @apply !opacity-0;
    }
  }

  [data-slot="skeleton-text"] {
    @apply bg-muted inline animate-pulse text-transparent! rounded-sm;
  }
}
