@import "tailwindcss";
@source "../../packages/ui/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-autocontrast";
@plugin "@tailwindcss/typography";

@import "./docs.css";
@import "@dotui/ui/focus-styles.css";

@variant dark (&:where(.dark, .dark *));

/* Base Colors */
:root {
  --radius-factor: 1;

  --neutral-50: oklch(98.481% 0 none);
  --neutral-100: oklch(96.955% 0 none);
  --neutral-200: oklch(95.424% 0 none);
  --neutral-300: oklch(92.342% 0 none);
  --neutral-400: oklch(88.454% 0 none);
  --neutral-500: oklch(84.522% 0 none);
  --neutral-600: oklch(80.544% 0 none);
  --neutral-700: oklch(76.517% 0 none);
  --neutral-800: oklch(39.942% 0 none);
  --neutral-900: oklch(28.012% 0 none);
  --neutral-950: oklch(23.759% 0 none);

  --accent-50: oklch(89.555% 0.05329 248.42);
  --accent-100: oklch(86.996% 0.06693 248.6);
  --accent-200: oklch(83.634% 0.08519 248.88);
  --accent-300: oklch(77.925% 0.11701 249.54);
  --accent-400: oklch(72.523% 0.14785 250.58);
  --accent-500: oklch(62.805% 0.1332 250.77);
  --accent-600: oklch(53.439% 0.10855 250.56);
  --accent-700: oklch(46.392% 0.0922 250.46);
  --accent-800: oklch(40.012% 0.07867 250.41);
  --accent-900: oklch(28.187% 0.05146 251.53);
  --accent-950: oklch(23.061% 0.03841 251.29);

  --success-50: oklch(88.569% 0.04565 150.09);
  --success-100: oklch(86.555% 0.05389 149.93);
  --success-200: oklch(83.314% 0.06888 150.15);
  --success-300: oklch(77.383% 0.09414 149.49);
  --success-400: oklch(70.945% 0.12015 149.04);
  --success-500: oklch(61.551% 0.13832 147.36);
  --success-600: oklch(52.009% 0.11334 147.91);
  --success-700: oklch(45.384% 0.09695 148.02);
  --success-800: oklch(39.658% 0.08361 147.69);
  --success-900: oklch(27.476% 0.05145 148.21);
  --success-950: oklch(22.427% 0.0392 148.92);

  --warning-50: oklch(89.438% 0.08947 75.54);
  --warning-100: oklch(86.997% 0.11009 74.813);
  --warning-200: oklch(84.201% 0.13249 73.452);
  --warning-300: oklch(79.51% 0.16306 68.639);
  --warning-400: oklch(74% 0.16563 64.123);
  --warning-500: oklch(64.709% 0.14345 64.805);
  --warning-600: oklch(54.202% 0.1194 65.331);
  --warning-700: oklch(46.791% 0.10204 66.103);
  --warning-800: oklch(41.686% 0.09007 66.831);
  --warning-900: oklch(28.195% 0.05877 70.427);
  --warning-950: oklch(23.865% 0.04715 74.768);

  --danger-50: oklch(89.951% 0.03946 15.631);
  --danger-100: oklch(87.967% 0.04788 15.842);
  --danger-200: oklch(85.014% 0.06085 16.191);
  --danger-300: oklch(79.179% 0.08921 17.076);
  --danger-400: oklch(73.667% 0.11603 18.136);
  --danger-500: oklch(65.243% 0.16275 20.755);
  --danger-600: oklch(55.598% 0.19556 24.917);
  --danger-700: oklch(48.758% 0.16782 24.535);
  --danger-800: oklch(41.865% 0.14294 24.4);
  --danger-900: oklch(29.889% 0.09578 22.565);
  --danger-950: oklch(24.996% 0.07705 22.913);

  --info-50: oklch(89.555% 0.05329 248.42);
  --info-100: oklch(86.15% 0.07149 248.67);
  --info-200: oklch(83.634% 0.08519 248.88);
  --info-300: oklch(77.925% 0.11701 249.54);
  --info-400: oklch(72.523% 0.14785 250.58);
  --info-500: oklch(62.805% 0.1332 250.77);
  --info-600: oklch(53.439% 0.10855 250.56);
  --info-700: oklch(46.392% 0.0922 250.46);
  --info-800: oklch(40.012% 0.07867 250.41);
  --info-900: oklch(28.187% 0.05146 251.53);
  --info-950: oklch(23.061% 0.03841 251.29);
}

.dark {
  --neutral-50: oklch(14.334% 0.00263 286.06);
  --neutral-100: oklch(17.758% 0.00436 285.95);
  --neutral-200: oklch(21.023% 0.00598 285.87);
  --neutral-300: oklch(28.202% 0.00945 285.78);
  --neutral-400: oklch(34.004% 0.01221 285.73);
  --neutral-500: oklch(43.169% 0.01651 285.69);
  --neutral-600: oklch(55.243% 0.02211 285.65);
  --neutral-700: oklch(62.25% 0.02053 285.79);
  --neutral-800: oklch(75.336% 0.01301 286.08);
  --neutral-900: oklch(87.883% 0.00624 286.27);
  --neutral-950: oklch(98.357% 0.00135 286.37);

  --accent-50: oklch(23.064% 0.03771 251.24);
  --accent-100: oklch(26.167% 0.04551 251.4);
  --accent-200: oklch(29.185% 0.05397 251.57);
  --accent-300: oklch(40.012% 0.07867 250.41);
  --accent-400: oklch(50.361% 0.09881 249.03);
  --accent-500: oklch(56.897% 0.11855 250.68);
  --accent-600: oklch(62.633% 0.10816 249.93);
  --accent-700: oklch(68.368% 0.11907 249.95);
  --accent-800: oklch(75.558% 0.12675 249.83);
  --accent-900: oklch(84.469% 0.08062 248.81);
  --accent-950: oklch(88.699% 0.05783 248.48);

  --success-50: oklch(21.173% 0.03743 148.43);
  --success-100: oklch(25.203% 0.04873 148.08);
  --success-200: oklch(28.808% 0.05646 147.61);
  --success-300: oklch(33.741% 0.06856 147.86);
  --success-400: oklch(38.509% 0.0798 148.17);
  --success-500: oklch(62.59% 0.14089 147.35);
  --success-600: oklch(66.704% 0.15107 147.32);
  --success-700: oklch(71.034% 0.1453 147.83);
  --success-800: oklch(79.894% 0.08067 149.84);
  --success-900: oklch(83.893% 0.06424 150.25);
  --success-950: oklch(88.623% 0.04697 150.07);

  --warning-50: oklch(20.978% 0.04414 75.622);
  --warning-100: oklch(32.819% 0.07191 68.234);
  --warning-200: oklch(40.674% 0.09199 64.015);
  --warning-300: oklch(38.005% 0.08262 67.14);
  --warning-400: oklch(74.191% 0.16988 62.564);
  --warning-500: oklch(76.482% 0.1753 62.451);
  --warning-600: oklch(79.51% 0.16306 68.639);
  --warning-700: oklch(82.863% 0.14237 72.493);
  --warning-800: oklch(81.613% 0.13762 72.728);
  --warning-900: oklch(85.58% 0.12167 74.213);
  --warning-950: oklch(89.438% 0.08947 75.54);

  --danger-50: oklch(23.99% 0.07182 21.641);
  --danger-100: oklch(27.952% 0.08801 22.31);
  --danger-200: oklch(30.826% 0.09973 23.567);
  --danger-300: oklch(35.521% 0.11827 23.996);
  --danger-400: oklch(40.973% 0.13949 24.352);
  --danger-500: oklch(49.704% 0.17307 24.736);
  --danger-600: oklch(57.534% 0.20699 25.343);
  --danger-700: oklch(63.016% 0.17573 21.772);
  --danger-800: oklch(71.008% 0.13028 18.806);
  --danger-900: oklch(85.932% 0.05734 17.211);
  --danger-950: oklch(89.951% 0.03946 15.631);

  --info-50: oklch(23.064% 0.03771 251.24);
  --info-100: oklch(26.167% 0.04551 251.4);
  --info-200: oklch(29.185% 0.05397 251.57);
  --info-300: oklch(40.012% 0.07867 250.41);
  --info-400: oklch(50.361% 0.09881 249.03);
  --info-500: oklch(56.897% 0.11855 250.68);
  --info-600: oklch(62.633% 0.10816 249.93);
  --info-700: oklch(68.368% 0.11907 249.95);
  --info-800: oklch(75.558% 0.12675 249.83);
  --info-900: oklch(84.469% 0.08062 248.81);
  --info-950: oklch(88.699% 0.05783 248.48);
}

@theme {
  /* fonts */
  --font-josefin: var(--font-josefin);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-heading: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);

  /* colors */
  --color-bg: var(--neutral-50);
  --color-card: var(--neutral-100);
  --color-muted: var(--neutral-200);
  --color-inverse: var(--neutral-950);
  --color-disabled: var(--neutral-200);

  --color-neutral: var(--neutral-200);
  --color-neutral-hover: var(--neutral-300);
  --color-neutral-active: var(--neutral-400);

  --color-primary: var(--neutral-950);
  --color-primary-hover: var(--neutral-900);
  --color-primary-active: var(--neutral-800);
  --color-primary-muted: var(--neutral-200);

  --color-success: var(--success-500);
  --color-success-hover: var(--success-600);
  --color-success-active: var(--success-700);
  --color-success-muted: var(--success-50);

  --color-danger: var(--danger-500);
  --color-danger-hover: var(--danger-600);
  --color-danger-active: var(--danger-700);
  --color-danger-muted: var(--danger-50);

  --color-warning: var(--warning-500);
  --color-warning-hover: var(--warning-600);
  --color-warning-active: var(--warning-700);
  --color-warning-muted: var(--warning-50);

  --color-info: var(--info-500);
  --color-info-hover: var(--info-600);
  --color-info-active: var(--info-700);
  --color-info-muted: var(--info-50);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-600);
  --color-accent-active: var(--accent-700);
  --color-accent-muted: var(--accent-50);
  --color-accent-muted-hover: var(--accent-100);

  --color-fg: var(--neutral-950);
  --color-fg-muted: var(--neutral-800);
  --color-fg-inverse: var(--neutral-50);
  --color-fg-disabled: var(--neutral-500);
  --color-fg-danger: var(--danger-700);
  --color-fg-warning: var(--warning-700);
  --color-fg-success: var(--success-700);
  --color-fg-info: var(--info-700);
  --color-fg-accent: var(--accent-700);

  --color-fg-on-neutral: var(--on-neutral-200);
  --color-fg-on-primary: var(--on-neutral-950);
  --color-fg-on-accent: var(--on-accent-500);
  --color-fg-on-success: var(--on-success-500);
  --color-fg-on-danger: var(--on-danger-500);
  --color-fg-on-warning: var(--on-warning-500);
  --color-fg-on-info: var(--on-info-500);

  --color-border: var(--neutral-300);
  --color-border-hover: var(--neutral-400);
  --color-border-field: var(--neutral-400);
  --color-border-control: var(--neutral-700);
  --color-border-disabled: var(--neutral-300);
  --color-border-focus: var(--accent-500);
  --color-border-focus-muted: var(--accent-300);

  --color-border-success: var(--success-300);
  --color-border-success-hover: var(--success-400);
  --color-border-accent: var(--accent-300);
  --color-border-accent-hover: var(--accent-400);
  --color-border-danger: var(--danger-300);
  --color-border-danger-hover: var(--danger-400);
  --color-border-warning: var(--warning-300);
  --color-border-warning-hover: var(--warning-400);
  --color-border-info: var(--info-300);
  --color-border-info-hover: var(--info-400);

  /* radius */
  --radius-xs: calc(0.125rem * var(--radius-factor));
  --radius-sm: calc(0.25rem * var(--radius-factor));
  --radius-md: calc(0.375rem * var(--radius-factor));
  --radius-lg: calc(0.5rem * var(--radius-factor));
  --radius-xl: calc(0.75rem * var(--radius-factor));
  --radius-2xl: calc(1rem * var(--radius-factor));
  --radius-3xl: calc(1.5rem * var(--radius-factor));
  --radius-4xl: calc(2rem * var(--radius-factor));

  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;

  /* easing */
  --ease-drawer: cubic-bezier(0.32, 0.72, 0, 1);

  /* animations */
  --animate-accordion-down: accordion-down 0.15s ease-out;
  --animate-accordion-up: accordion-up 0.15s ease-out;
  --animate-collapsible-down: collapsible-down 0.15s ease-out;
  --animate-collapsible-up: collapsible-up 0.15s ease-out;
  --animate-line-spinner: line-spinner 1.2s linear infinite;
  --animate-dot-spinner: dot-spinner 0.8s linear infinite;
  --animate-progress-indeterminate:
    progress-grow var(--progress-duration) 1 both normal,
    progress-pulse 1s ease var(--progress-duration) infinite normal none running;
}

/* for specific variants */
@layer base {
  :root {
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --border-brutalism: oklch(0% 0 none);
  }

  .dark {
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --border-brutalism: oklch(0% 0 none);
  }
}

/* for specific variants */
@theme {
  --shadow-brutalism: var(--box-shadow-x) var(--box-shadow-y) 0px 0px
    var(--border-brutalism);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes progress-grow {
  0% {
    transform: scaleX(0.01);
  }
  20% {
    transform: scaleX(0.1);
  }
  30% {
    transform: scaleX(0.6);
  }
  40%,
  50% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes progress-pulse {
  0% {
    mask-position: 200% center;
  }
  100% {
    mask-position: 0% center;
  }
}

@keyframes line-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@keyframes dot-spinner {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.15;
    transform: scale(0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}
