@import "tailwindcss";
@source "../../packages/ui/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-autocontrast";
@plugin "@tailwindcss/typography";

@import "./docs.css";
@import "@dotui/ui/focus-styles.css";

@variant dark (&:where(.dark, .dark *));

/* Base Colors */
:root {
  --radius-factor: 1;

  --neutral-50: oklch(98.48% 0.00 0);
  --neutral-100: oklch(95.42% 0.00 0);
  --neutral-200: oklch(92.34% 0.00 0);
  --neutral-300: oklch(88.45% 0.00 0);
  --neutral-400: oklch(84.52% 0.00 0);
  --neutral-500: oklch(51.03% 0.00 0);
  --neutral-600: oklch(46.49% 0.00 0);
  --neutral-700: oklch(39.94% 0.00 0);
  --neutral-800: oklch(28.01% 0.00 0);
  --neutral-900: oklch(23.76% 0.00 0);
  
  --accent-50: oklch(89.55% 0.05 248);
  --accent-100: oklch(83.63% 0.09 249);
  --accent-200: oklch(77.92% 0.12 250);
  --accent-300: oklch(72.52% 0.15 251);
  --accent-400: oklch(62.81% 0.13 251);
  --accent-500: oklch(53.44% 0.11 251);
  --accent-600: oklch(46.39% 0.09 250);
  --accent-700: oklch(40.01% 0.08 250);
  --accent-800: oklch(28.19% 0.05 252);
  --accent-900: oklch(23.06% 0.04 251);

  --success-50: oklch(88.57% 0.05 150);
  --success-100: oklch(83.31% 0.07 150);
  --success-200: oklch(77.38% 0.09 149);
  --success-300: oklch(70.95% 0.12 149);
  --success-400: oklch(61.55% 0.14 147);
  --success-500: oklch(52.01% 0.11 148);
  --success-600: oklch(45.38% 0.10 148);
  --success-700: oklch(39.66% 0.08 148);
  --success-800: oklch(27.48% 0.05 148);
  --success-900: oklch(22.43% 0.04 149);

  --warning-50: oklch(89.44% 0.09 76);
  --warning-100: oklch(84.20% 0.13 73);
  --warning-200: oklch(79.51% 0.16 69);
  --warning-300: oklch(74.00% 0.17 64);
  --warning-400: oklch(64.71% 0.14 65);
  --warning-500: oklch(54.20% 0.12 65);
  --warning-600: oklch(46.79% 0.10 66);
  --warning-700: oklch(41.69% 0.09 67);
  --warning-800: oklch(28.20% 0.06 70);
  --warning-900: oklch(23.86% 0.05 75);

  --danger-50: oklch(89.95% 0.04 16);
  --danger-100: oklch(85.01% 0.06 16);
  --danger-200: oklch(79.18% 0.09 17);
  --danger-300: oklch(73.67% 0.12 18);
  --danger-400: oklch(65.24% 0.16 21);
  --danger-500: oklch(55.60% 0.20 25);
  --danger-600: oklch(48.76% 0.17 25);
  --danger-700: oklch(41.87% 0.14 24);
  --danger-800: oklch(29.89% 0.10 23);
  --danger-900: oklch(25.00% 0.08 23);

  --info-50: oklch(89.55% 0.05 248);
  --info-100: oklch(83.63% 0.09 249);
  --info-200: oklch(77.92% 0.12 250);
  --info-300: oklch(72.52% 0.15 251);
  --info-400: oklch(62.81% 0.13 251);
  --info-500: oklch(53.44% 0.11 251);
  --info-600: oklch(46.39% 0.09 250);
  --info-700: oklch(40.01% 0.08 250);
  --info-800: oklch(28.19% 0.05 252);
  --info-900: oklch(23.06% 0.04 251);
}

.dark {
  --neutral-50: oklch(14.33% 0.00 286);
  --neutral-100: oklch(21.02% 0.01 286);
  --neutral-200: oklch(28.20% 0.01 286);
  --neutral-300: oklch(34.00% 0.01 286);
  --neutral-400: oklch(43.17% 0.02 286);
  --neutral-500: oklch(55.24% 0.02 286);
  --neutral-600: oklch(62.25% 0.02 286);
  --neutral-700: oklch(75.34% 0.01 286);
  --neutral-800: oklch(87.88% 0.01 286);
  --neutral-900: oklch(98.36% 0.00 286);

  --accent-50: oklch(23.06% 0.04 251);
  --accent-100: oklch(29.18% 0.05 252);
  --accent-200: oklch(40.01% 0.08 250);
  --accent-300: oklch(50.36% 0.10 249);
  --accent-400: oklch(56.90% 0.12 251);
  --accent-500: oklch(62.63% 0.11 250);
  --accent-600: oklch(68.37% 0.12 250);
  --accent-700: oklch(75.56% 0.13 250);
  --accent-800: oklch(84.47% 0.08 249);
  --accent-900: oklch(88.70% 0.06 248);

  --success-50: oklch(21.17% 0.04 148);
  --success-100: oklch(28.81% 0.06 148);
  --success-200: oklch(33.74% 0.07 148);
  --success-300: oklch(38.51% 0.08 148);
  --success-400: oklch(62.59% 0.14 147);
  --success-500: oklch(66.70% 0.15 147);
  --success-600: oklch(71.03% 0.15 148);
  --success-700: oklch(79.89% 0.08 150);
  --success-800: oklch(83.89% 0.06 150);
  --success-900: oklch(88.62% 0.05 150);

  --warning-50: oklch(20.98% 0.04 76);
  --warning-100: oklch(40.67% 0.09 64);
  --warning-200: oklch(38.01% 0.08 67);
  --warning-300: oklch(74.19% 0.17 63);
  --warning-400: oklch(76.48% 0.18 62);
  --warning-500: oklch(79.51% 0.16 69);
  --warning-600: oklch(82.86% 0.14 72);
  --warning-700: oklch(81.61% 0.14 73);
  --warning-800: oklch(85.58% 0.12 74);
  --warning-900: oklch(89.44% 0.09 76);

  --danger-50: oklch(23.99% 0.07 22);
  --danger-100: oklch(30.83% 0.10 24);
  --danger-200: oklch(35.52% 0.12 24);
  --danger-300: oklch(40.97% 0.14 24);
  --danger-400: oklch(49.70% 0.17 25);
  --danger-500: oklch(57.53% 0.21 25);
  --danger-600: oklch(63.02% 0.18 22);
  --danger-700: oklch(71.01% 0.13 19);
  --danger-800: oklch(85.93% 0.06 17);
  --danger-900: oklch(89.95% 0.04 16);

  --info-50: oklch(23.06% 0.04 251);
  --info-100: oklch(29.18% 0.05 252);
  --info-200: oklch(40.01% 0.08 250);
  --info-300: oklch(50.36% 0.10 249);
  --info-400: oklch(56.90% 0.12 251);
  --info-500: oklch(62.63% 0.11 250);
  --info-600: oklch(68.37% 0.12 250);
  --info-700: oklch(75.56% 0.13 250);
  --info-800: oklch(84.47% 0.08 249);
  --info-900: oklch(88.70% 0.06 248);
}

@theme {
  /* fonts */
  --font-josefin: var(--font-josefin);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-heading: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);

  /* colors */
  --color-bg: var(--neutral-50);
  --color-card: var(--neutral-100);
  --color-muted: var(--neutral-200);
  --color-inverse: var(--neutral-950);
  --color-disabled: var(--neutral-200);

  --color-neutral: var(--neutral-200);
  --color-neutral-hover: var(--neutral-300);
  --color-neutral-active: var(--neutral-400);

  --color-primary: var(--neutral-950);
  --color-primary-hover: var(--neutral-900);
  --color-primary-active: var(--neutral-800);
  --color-primary-muted: var(--neutral-200);

  --color-success: var(--success-500);
  --color-success-hover: var(--success-600);
  --color-success-active: var(--success-700);
  --color-success-muted: var(--success-50);

  --color-danger: var(--danger-500);
  --color-danger-hover: var(--danger-600);
  --color-danger-active: var(--danger-700);
  --color-danger-muted: var(--danger-50);

  --color-warning: var(--warning-500);
  --color-warning-hover: var(--warning-600);
  --color-warning-active: var(--warning-700);
  --color-warning-muted: var(--warning-50);

  --color-info: var(--info-500);
  --color-info-hover: var(--info-600);
  --color-info-active: var(--info-700);
  --color-info-muted: var(--info-50);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-600);
  --color-accent-active: var(--accent-700);
  --color-accent-muted: var(--accent-50);
  --color-accent-muted-hover: var(--accent-100);

  --color-fg: var(--neutral-950);
  --color-fg-muted: var(--neutral-800);
  --color-fg-inverse: var(--neutral-50);
  --color-fg-disabled: var(--neutral-500);
  --color-fg-danger: var(--danger-700);
  --color-fg-warning: var(--warning-700);
  --color-fg-success: var(--success-700);
  --color-fg-info: var(--info-700);
  --color-fg-accent: var(--accent-700);

  --color-fg-on-neutral: var(--on-neutral-200);
  --color-fg-on-primary: var(--on-neutral-950);
  --color-fg-on-accent: var(--on-accent-500);
  --color-fg-on-success: var(--on-success-500);
  --color-fg-on-danger: var(--on-danger-500);
  --color-fg-on-warning: var(--on-warning-500);
  --color-fg-on-info: var(--on-info-500);

  --color-border: var(--neutral-300);
  --color-border-hover: var(--neutral-400);
  --color-border-field: var(--neutral-400);
  --color-border-control: var(--neutral-700);
  --color-border-disabled: var(--neutral-300);
  --color-border-focus: var(--accent-500);
  --color-border-focus-muted: var(--accent-300);

  --color-border-success: var(--success-300);
  --color-border-success-hover: var(--success-400);
  --color-border-accent: var(--accent-300);
  --color-border-accent-hover: var(--accent-400);
  --color-border-danger: var(--danger-300);
  --color-border-danger-hover: var(--danger-400);
  --color-border-warning: var(--warning-300);
  --color-border-warning-hover: var(--warning-400);
  --color-border-info: var(--info-300);
  --color-border-info-hover: var(--info-400);

  /* radius */
  --radius-xs: calc(0.125rem * var(--radius-factor));
  --radius-sm: calc(0.25rem * var(--radius-factor));
  --radius-md: calc(0.375rem * var(--radius-factor));
  --radius-lg: calc(0.5rem * var(--radius-factor));
  --radius-xl: calc(0.75rem * var(--radius-factor));
  --radius-2xl: calc(1rem * var(--radius-factor));
  --radius-3xl: calc(1.5rem * var(--radius-factor));
  --radius-4xl: calc(2rem * var(--radius-factor));

  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;

  /* easing */
  --ease-drawer: cubic-bezier(0.32, 0.72, 0, 1);

  /* animations */
  --animate-accordion-down: accordion-down 0.15s ease-out;
  --animate-accordion-up: accordion-up 0.15s ease-out;
  --animate-collapsible-down: collapsible-down 0.15s ease-out;
  --animate-collapsible-up: collapsible-up 0.15s ease-out;
  --animate-line-spinner: line-spinner 1.2s linear infinite;
  --animate-dot-spinner: dot-spinner 0.8s linear infinite;
  --animate-progress-indeterminate:
    progress-grow var(--progress-duration) 1 both normal,
    progress-pulse 1s ease var(--progress-duration) infinite normal none running;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes progress-grow {
  0% {
    transform: scaleX(0.01);
  }
  20% {
    transform: scaleX(0.1);
  }
  30% {
    transform: scaleX(0.6);
  }
  40%,
  50% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes progress-pulse {
  0% {
    mask-position: 200% center;
  }
  100% {
    mask-position: 0% center;
  }
}

@keyframes line-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@keyframes dot-spinner {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.15;
    transform: scale(0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}
