/* -------------- Fonts -------------- */
@theme {
	/* TODO: decide and keep only one approach */
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--font-heading: var(--font-geist-sans);
	--font-body: var(--font-geist-sans);
}

/* -------------- Radius -------------- */
@theme inline {
	--radius-xs: calc(0.125rem * var(--radius-factor));
	--radius-sm: calc(0.25rem * var(--radius-factor));
	--radius-md: calc(0.375rem * var(--radius-factor));
	--radius-lg: calc(0.5rem * var(--radius-factor));
	--radius-xl: calc(0.75rem * var(--radius-factor));
	--radius-2xl: calc(1rem * var(--radius-factor));
	--radius-3xl: calc(1.5rem * var(--radius-factor));
	--radius-4xl: calc(2rem * var(--radius-factor));
}

/* -------------- Semantic Colors -------------- */
@theme {
	--color-bg: var(--neutral-50);
	--color-muted: var(--neutral-200);
	--color-inverse: var(--neutral-950);
	--color-disabled: var(--neutral-200);

	--color-selected: var(--neutral-300);
	--color-selected-hover: var(--neutral-400);
	--color-selected-active: var(--neutral-500);
	--color-fg-on-selected: var(--on-neutral-300);

	--color-neutral: var(--neutral-200);
	--color-neutral-hover: var(--neutral-300);
	--color-neutral-active: var(--neutral-400);

	--color-primary: var(--neutral-950);
	--color-primary-hover: var(--neutral-900);
	--color-primary-active: var(--neutral-800);
	--color-primary-muted: var(--neutral-200);

	--color-success: var(--success-500);
	--color-success-hover: var(--success-600);
	--color-success-active: var(--success-700);
	--color-success-muted: var(--success-100);
	--color-success-muted-hover: var(--success-200);

	--color-danger: var(--danger-500);
	--color-danger-hover: var(--danger-600);
	--color-danger-active: var(--danger-700);
	--color-danger-muted: var(--danger-100);
	--color-danger-muted-hover: var(--danger-200);

	--color-warning: var(--warning-500);
	--color-warning-hover: var(--warning-600);
	--color-warning-active: var(--warning-700);
	--color-warning-muted: var(--warning-100);
	--color-warning-muted-hover: var(--warning-200);

	--color-info: var(--info-500);
	--color-info-hover: var(--info-600);
	--color-info-active: var(--info-700);
	--color-info-muted: var(--info-50);

	--color-accent: var(--accent-500);
	--color-accent-hover: var(--accent-600);
	--color-accent-active: var(--accent-700);
	--color-accent-muted: var(--accent-50);
	--color-accent-muted-hover: var(--accent-100);

	--color-fg: var(--neutral-950);
	--color-fg-muted: var(--neutral-800);
	--color-fg-inverse: var(--neutral-50);
	--color-fg-disabled: var(--neutral-500);
	--color-fg-primary-disabled: var(--neutral-300);
	--color-fg-danger: var(--danger-800);
	--color-fg-warning: var(--warning-800);
	--color-fg-success: var(--success-800);
	--color-fg-info: var(--info-800);
	--color-fg-accent: var(--accent-800);

	--color-fg-on-neutral: var(--on-neutral-200);
	--color-fg-on-primary: var(--on-neutral-950);
	--color-fg-on-accent: var(--on-accent-500);
	--color-fg-on-success: var(--on-success-500);
	--color-fg-on-danger: var(--on-danger-500);
	--color-fg-on-warning: var(--on-warning-500);
	--color-fg-on-info: var(--on-info-500);

	--color-border: var(--neutral-300);
	--color-border-hover: var(--neutral-400);
	--color-border-active: var(--neutral-500);
	--color-border-field: var(--neutral-400);
	--color-border-control: var(--neutral-700);
	--color-border-disabled: var(--neutral-300);
	--color-border-focus: var(--accent-500);
	--color-border-focus-muted: var(--accent-300);

	--color-border-success: var(--success-300);
	--color-border-success-hover: var(--success-400);
	--color-border-accent: var(--accent-300);
	--color-border-accent-hover: var(--accent-400);
	--color-border-danger: var(--danger-300);
	--color-border-danger-hover: var(--danger-400);
	--color-border-warning: var(--warning-300);
	--color-border-warning-hover: var(--warning-400);
	--color-border-info: var(--info-300);
	--color-border-info-hover: var(--info-400);
}

/* -------------- Component specific colors -------------- */
@theme {
	--color-tooltip: var(--neutral-950);
	--color-fg-on-tooltip: var(--on-neutral-950);
	--color-card: var(--neutral-100);
	--color-popover: var(--neutral-100);

	--color-sidebar: var(--neutral-100);
	--color-border-sidebar: var(--neutral-300);
}

/* -------------- Variant specific colors -------------- */

@theme inline {
	--shadow-shine:
		inset 0px 0px 0px 1px color-mix(in oklab, var(--color-shine) 15%, transparent), inset 0px 1px 0px
		color-mix(in oklab, var(--color-shine) 30%, transparent);
}
