@import "tailwindcss";
@import "@dotui/registry/styles.css";

@source "../../packages/registry/src/**/*.{ts,tsx}";

@theme {
	--font-josefin: var(--font-josefin);

	--breakpoint-xs: 30rem;
	--breakpoint-3xl: 120rem;
}

@utility container {
	@apply mx-auto max-w-[1400px] px-4 sm:px-6 lg:px-10 3xl:max-w-screen-2xl;
}
