@import "tailwindcss";
@plugin "tailwindcss-animate";
/* @plugin "tailwindcss-rac"; */


@variant dark (&:where(.dark, .dark *));

/* Base Colors */
@layer base {
  :root {
    --radius: 0.5rem;

    --color-neutral-100: hsl(0, 0%, 98%);
    --color-neutral-200: hsl(0, 0%, 94%);
    --color-neutral-300: hsl(0, 0%, 90%);
    --color-neutral-400: hsl(0, 0%, 85%);
    --color-neutral-500: hsl(0, 0%, 80%);
    --color-neutral-600: hsl(0, 0%, 40%);
    --color-neutral-700: hsl(0, 0%, 35%);
    --color-neutral-800: hsl(0, 0%, 28%);
    --color-neutral-900: hsl(0, 0%, 16%);
    --color-neutral-1000: hsl(0, 0%, 12%);

    --color-primary-100: hsl(0, 0%, 87%);
    --color-primary-200: hsl(0, 0%, 79%);
    --color-primary-300: hsl(0, 0%, 73%);
    --color-primary-400: hsl(0, 0%, 65%);
    --color-primary-500: hsl(0, 0%, 54%);
    --color-primary-600: hsl(0, 0%, 42%);
    --color-primary-700: hsl(0, 0%, 35%);
    --color-primary-800: hsl(0, 0%, 28%);
    --color-primary-900: hsl(0, 0%, 16%);
    --color-primary-1000: hsl(0, 0%, 12%);

    --color-success-100: hsl(130, 34%, 83%);
    --color-success-200: hsl(131, 35%, 75%);
    --color-success-300: hsl(131, 35%, 66%);
    --color-success-400: hsl(132, 35%, 56%);
    --color-success-500: hsl(131, 41%, 43%);
    --color-success-600: hsl(132, 41%, 34%);
    --color-success-700: hsl(132, 41%, 28%);
    --color-success-800: hsl(131, 41%, 23%);
    --color-success-900: hsl(131, 40%, 13%);
    --color-success-1000: hsl(132, 42%, 9%);

    --color-warning-100: hsl(35, 100%, 80%);
    --color-warning-200: hsl(35, 100%, 69%);
    --color-warning-300: hsl(35, 100%, 58%);
    --color-warning-400: hsl(35, 93%, 49%);
    --color-warning-500: hsl(35, 92%, 41%);
    --color-warning-600: hsl(35, 93%, 32%);
    --color-warning-700: hsl(35, 93%, 26%);
    --color-warning-800: hsl(35, 93%, 22%);
    --color-warning-900: hsl(35, 94%, 12%);
    --color-warning-1000: hsl(36, 91%, 9%);

    --color-danger-100: hsl(358, 69%, 90%);
    --color-danger-200: hsl(358, 69%, 85%);
    --color-danger-300: hsl(358, 70%, 79%);
    --color-danger-400: hsl(358, 69%, 73%);
    --color-danger-500: hsl(358, 69%, 63%);
    --color-danger-600: hsl(358, 64%, 49%);
    --color-danger-700: hsl(358, 63%, 41%);
    --color-danger-800: hsl(358, 64%, 33%);
    --color-danger-900: hsl(357, 64%, 20%);
    --color-danger-1000: hsl(358, 65%, 15%);

    --color-accent-100: hsl(210, 100%, 88%);
    --color-accent-200: hsl(210, 100%, 81%);
    --color-accent-300: hsl(210, 100%, 74%);
    --color-accent-400: hsl(210, 100%, 67%);
    --color-accent-500: hsl(210, 64%, 55%);
    --color-accent-600: hsl(210, 51%, 44%);
    --color-accent-700: hsl(210, 51%, 36%);
    --color-accent-800: hsl(210, 52%, 29%);
    --color-accent-900: hsl(211, 52%, 17%);
    --color-accent-1000: hsl(211, 52%, 12%);
  }

  .dark {
    --color-neutral-100: hsl(240, 6%, 8%);
    --color-neutral-200: hsl(240, 6%, 13%);
    --color-neutral-300: hsl(240, 6%, 19%);
    --color-neutral-400: hsl(240, 6%, 25%);
    --color-neutral-500: hsl(240, 6%, 33%);
    --color-neutral-600: hsl(240, 6%, 47%);
    --color-neutral-700: hsl(240, 6%, 55%);
    --color-neutral-800: hsl(240, 6%, 70%);
    --color-neutral-900: hsl(240, 6%, 85%);
    --color-neutral-1000: hsl(240, 10%, 98%);

    --color-success-100: hsl(132, 42%, 9%);
    --color-success-200: hsl(130, 41%, 14%);
    --color-success-300: hsl(131, 41%, 18%);
    --color-success-400: hsl(132, 41%, 22%);
    --color-success-500: hsl(131, 41%, 44%);
    --color-success-600: hsl(131, 41%, 48%);
    --color-success-700: hsl(131, 41%, 54%);
    --color-success-800: hsl(131, 34%, 70%);
    --color-success-900: hsl(131, 34%, 76%);
    --color-success-1000: hsl(130, 35%, 83%);

    --color-warning-100: hsl(34, 100%, 14%);
    --color-warning-200: hsl(34, 100%, 21%);
    --color-warning-300: hsl(35, 100%, 26%);
    --color-warning-400: hsl(35, 100%, 48%);
    --color-warning-500: hsl(35, 100%, 50%);
    --color-warning-600: hsl(35, 100%, 58%);
    --color-warning-700: hsl(35, 100%, 66%);
    --color-warning-800: hsl(35, 93%, 65%);
    --color-warning-900: hsl(35, 100%, 72%);
    --color-warning-1000: hsl(35, 100%, 80%);

    --color-danger-100: hsl(357, 64%, 14%);
    --color-danger-200: hsl(358, 64%, 21%);
    --color-danger-300: hsl(358, 64%, 26%);
    --color-danger-400: hsl(358, 64%, 32%);
    --color-danger-500: hsl(358, 64%, 42%);
    --color-danger-600: hsl(358, 69%, 51%);
    --color-danger-700: hsl(358, 69%, 60%);
    --color-danger-800: hsl(358, 69%, 70%);
    --color-danger-900: hsl(359, 70%, 86%);
    --color-danger-1000: hsl(358, 69%, 90%);

    --color-accent-100: hsl(211, 51%, 12%);
    --color-accent-200: hsl(211, 52%, 18%);
    --color-accent-300: hsl(210, 52%, 29%);
    --color-accent-400: hsl(209, 51%, 40%);
    --color-accent-500: hsl(210, 52%, 48%);
    --color-accent-600: hsl(210, 51%, 55%);
    --color-accent-700: hsl(210, 68%, 62%);
    --color-accent-800: hsl(210, 97%, 71%);
    --color-accent-900: hsl(210, 100%, 82%);
    --color-accent-1000: hsl(210, 100%, 87%);
  }
}

@theme {
  --font-*: initial;
  /* fonts */
  --font-josefin: var(--font-josefin);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* colors */
  --color-bg: var(--color-neutral-100);
  --color-bg-muted: var(--color-neutral-200);
  --color-bg-inverse: var(--color-neutral-1000);
  --color-bg-disabled: var(--color-neutral-200);
  --color-bg-tooltip: var(--color-neutral-200);
  --color-bg-overlay: var(--color-neutral-200);

  --color-bg-neutral: var(--color-neutral-300);
  --color-bg-neutral-hover: var(--color-neutral-400);
  --color-bg-neutral-active: var(--color-neutral-500);

  --color-bg-primary: var(--color-neutral-1000);
  --color-bg-primary-hover: var(--color-neutral-900);
  --color-bg-primary-active: var(--color-neutral-800);

  --color-bg-success: var(--color-success-500);
  --color-bg-success-hover: var(--color-success-600);
  --color-bg-success-active: var(--color-success-700);
  --color-bg-success-muted: var(--color-success-200);
  --color-bg-success-muted-hover: var(--color-success-300);
  --color-bg-success-muted-active: var(--color-success-300);

  --color-bg-danger: var(--color-danger-500);
  --color-bg-danger-hover: var(--color-danger-600);
  --color-bg-danger-active: var(--color-danger-700);
  --color-bg-danger-muted: var(--color-danger-100);
  --color-bg-danger-muted-hover: var(--color-danger-300);
  --color-bg-danger-muted-active: var(--color-danger-300);

  --color-bg-warning: var(--color-warning-500);
  --color-bg-warning-hover: var(--color-warning-600);
  --color-bg-warning-active: var(--color-warning-700);
  --color-bg-warning-muted: var(--color-warning-100);
  --color-bg-warning-muted-hover: var(--color-warning-300);
  --color-bg-warning-muted-active: var(--color-warning-300);

  --color-bg-accent: var(--color-accent-500);
  --color-bg-accent-hover: var(--color-accent-600);
  --color-bg-accent-active: var(--color-accent-700);
  --color-bg-accent-muted: var(--color-accent-200);
  --color-bg-accent-muted-hover: var(--color-accent-300);
  --color-bg-accent-muted-active: var(--color-accent-300);

  --color-fg: var(--color-neutral-1000);
  --color-fg-muted: var(--color-neutral-800);
  --color-fg-inverse: var(--color-neutral-100);
  --color-fg-disabled: var(--color-neutral-500);

  --color-fg-danger: var(--color-danger-700);
  --color-fg-warning: var(--color-warning-600);
  --color-fg-success: var(--color-success-700);
  --color-fg-accent: var(--color-accent-700);

  --color-fg-link: var(--color-neutral-1000);
  --color-fg-link-hover: var(--color-neutral-1000);
  --color-fg-link-active: var(--color-neutral-1000);
  --color-fg-link-visited: var(--color-neutral-1000);

  --color-fg-onAccent: var(--color-neutral-1000);
  --color-fg-onNeutral: var(--color-neutral-1000);
  --color-fg-onPrimary: var(--color-neutral-100);
  --color-fg-onSuccess: var(--color-neutral-1000);
  --color-fg-onMutedSuccess: var(--color-neutral-1000);
  --color-fg-onDanger: var(--color-neutral-1000);
  --color-fg-onMutedDanger: var(--color-neutral-1000);
  --color-fg-onWarning: var(--color-neutral-1000);
  --color-fg-onMutedWarning: var(--color-neutral-1000);
  --color-fg-onTooltip: var(--color-neutral-1000);

  --color-border: var(--color-neutral-300);
  --color-border-field: var(--color-neutral-400);
  --color-border-control: var(--color-neutral-700);
  --color-border-hover: var(--color-neutral-1000);
  --color-border-active: var(--color-neutral-500);
  --color-border-disabled: var(--color-neutral-300);

  --color-border-success: var(--color-success-300);
  --color-border-danger: var(--color-danger-300);
  --color-border-warning: var(--color-warning-200);
  --color-border-accent: var(--color-accent-300);

  --color-border-accent: var(--color-accent-500);
  --color-border-secondary: var(--color-neutral-200);
  --color-border-focus: var(--color-accent-500);
  --color-border-inverse: var(--color-neutral-500);

  /* easing */
  --ease-drawer: cubic-bezier(0.32, 0.72, 0, 1);

  /* animations */
  --animate-accordion-down: accordion-down 0.15s ease-out;
  --animate-accordion-up: accordion-up 0.15s ease-out;
  --animate-collapsible-down: collapsible-down 0.15s ease-out;
  --animate-collapsible-up: collapsible-up 0.15s ease-out;
  --animate-progress-indeterminate: progress-grow var(--progress-duration) 1
      both normal,
    progress-pulse 1s ease var(--progress-duration) infinite normal none running;

  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes progress-grow {
  0% {
    transform: "scaleX(0.01)";
  }
  20% {
    transform: "scaleX(0.1)";
  }
  30% {
    transform: "scaleX(0.6)";
  }
  40%,
  50% {
    transform: "scaleX(0.9)";
  }
  100% {
    transform: "scaleX(1)";
  }
}

@keyframes progress-pulse {
  0% {
    mask-position: 200% center;
  }
  100% {
    mask-position: 0% center;
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (width >= theme(--breakpoint-2xl)) {
    max-width: 1400px;
  }
}

@utility shiki {
  & code span {
    color: var(--shiki-light);
  }
  .dark & code span {
    color: var(--shiki-dark);
  }
  .highlighted {
    margin: 0 -16px;
    padding: 2px 16px;
    background-color: var(--color-bg-muted) !important;
  }
}

@utility dark {
  & .shiki code span {
    color: var(--shiki-dark);
  }
}

@utility step {
  counter-increment: step;

  &:before {
    @apply border-bg bg-bg-muted text-fg-muted absolute inline-flex size-9 items-center justify-center rounded-xl border-4 text-center -indent-px font-mono text-sm font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@utility category {
  @apply relative;

  &:before {
    @apply bg-border absolute left-0 top-0 -ml-1 mt-2 h-2 w-2 rounded-full content-[''];
  }

  &:after {
    @apply bg-border absolute left-0 top-3 h-3 w-[1px] content-[''];
  }
}

@utility transition-sidebar {
  transition-property: transform, width, left, opacity, color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}

.shiki,
.shiki span {
  background-color: transparent !important;
}
