
.accent-blue {
  --color-bg-primary: var(--accent-500);
  --color-bg-primary-hover: var(--accent-900);
  --color-bg-primary-active: var(--accent-800);
  --color-bg-primary-muted: var(--accent-200);
}

.accent-blue {
  --color-bg-primary: var(--accent-500);
  --color-bg-primary-hover: var(--accent-900);
  --color-bg-primary-active: var(--accent-800);
  --color-bg-primary-muted: var(--accent-200);
}
