@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* old  */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 230 15% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    /* new */
    --color-bg: 0 0% 100%;
    --color-bg-inverse: 240 10% 3.9%;
    --color-bg-surface: 230 15% 98%;
    --color-bg-disabled: 0 0% 22%;

    --color-bg-neutral: 240 4.8% 96%;
    --color-bg-neutral-hover: 240 4.8% 86%;
    --color-bg-neutral-active: 240 4.8% 76%;

    --color-bg-primary: 0 0% 100%;
    --color-bg-primary-hover: 0 0% 100%;
    --color-bg-primary-active: 0 0% 100%;

    --color-bg-success: 0 0% 100%;
    --color-bg-success-hover: 0 0% 100%;
    --color-bg-success-active: 0 0% 100%;
    --color-bg-success-muted: 0 0% 100%;
    --color-bg-success-muted-hover: 0 0% 100%;
    --color-bg-success-muted-active: 0 0% 100%;

    --color-bg-danger: 0 0% 100%;
    --color-bg-danger-hover: 0 0% 100%;
    --color-bg-danger-active: 0 0% 100%;
    --color-bg-danger-muted: 0 0% 100%;
    --color-bg-danger-muted-hover: 0 0% 100%;
    --color-bg-danger-muted-active: 0 0% 100%;

    --color-bg-warning: 0 0% 100%;
    --color-bg-warning-hover: 0 0% 100%;
    --color-bg-warning-active: 0 0% 100%;
    --color-bg-warning-muted: 0 0% 100%;
    --color-bg-warning-muted-hover: 0 0% 100%;
    --color-bg-warning-muted-active: 0 0% 100%;

    --color-bg-info: 0 0% 100%;
    --color-bg-info-hover: 0 0% 100%;
    --color-bg-info-active: 0 0% 100%;
    --color-bg-info-muted: 0 0% 100%;
    --color-bg-info-muted-hover: 0 0% 100%;
    --color-bg-info-muted-active: 0 0% 100%;

    --color-bg-tooltip: 0 0% 100%;

    --color-fg: 240 10% 3.9%;
    --color-fg-secondary: 240 3.8% 40%;
    --color-fg-inverse: 0 0% 100%;
    --color-fg-disabled: 0 0% 70%;

    --color-fg-link: 0 0% 100%;
    --color-fg-link-hover: 0 0% 100%;
    --color-fg-link-active: 0 0% 100%;
    --color-fg-link-visited: 0 0% 100%;

    --color-fg-onNeutral: 0 0% 0%;

    --color-fg-onPrimary: 0 0% 100%;

    --color-fg-onSuccess: 0 0% 100%;
    --color-fg-onMutedSuccess: 0 0% 100%;

    --color-fg-onDanger: 0 0% 100%;
    --color-fg-onMutedDanger: 0 0% 100%;

    --color-fg-onWarning: 0 0% 100%;
    --color-fg-onMutedWarning: 0 0% 100%;

    --color-fg-onTooltip: 0 0% 100%;

    --color-border: 240 5.9% 90%;
    --color-border-hover: 0 0% 100%;
    --color-border-active: 0 0% 100%;
    --color-border-disabled: 0 0% 100%;
    --color-border-secondary: 0 0% 100%;
    --color-border-focus: 0 0% 100%;
    --color-border-inverse: 0 0% 100%;
  }

  .dark {
    /* old */
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 90%;
    --primary-foreground: 240 5.9% 0%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 240 4.9% 83.9%;

    /* new */
    --color-bg: 240 10% 10%;
    --color-bg-muted: 240 6% 13%;
    --color-bg-inverse: 0 0% 100%;
    --color-bg-surface: 0 0% 100%;

    --color-bg-neutral: 240 3.7% 20%;
    --color-bg-neutral-hover: 240 3.7% 25%;
    --color-bg-neutral-active: 240 3.7% 30%;

    --color-bg-primary: 0 0% 90%;
    --color-bg-primary-hover: 0 0% 80%;
    --color-bg-primary-active: 0 0% 70%;

    --color-bg-success: 131 41% 46%;
    --color-bg-success-hover: 131 41% 41%;
    --color-bg-success-active: 131 41% 36%;
    --color-bg-success-muted: 131 41% 10%;
    --color-bg-success-muted-hover: 131 41% 46%;
    --color-bg-success-muted-active: 131 41% 46%;

    --color-bg-danger: 358 69% 52%;
    --color-bg-danger-hover: 358 69% 57%;
    --color-bg-danger-active: 358 69% 62%;
    --color-bg-danger-muted: 358 69% 12%;
    --color-bg-danger-muted-hover: 358 69% 52%;
    --color-bg-danger-muted-active: 358 69% 52%;

    --color-bg-warning: 35 100% 52%;
    --color-bg-warning-hover: 35 100% 47%;
    --color-bg-warning-active: 35 100% 42%;
    --color-bg-warning-muted: 0 0% 100%;
    --color-bg-warning-muted-hover: 0 0% 100%;
    --color-bg-warning-muted-active: 0 0% 100%;

    --color-bg-info: 212 100% 48%;
    --color-bg-info-hover: 0 0% 100%;
    --color-bg-info-active: 0 0% 100%;
    --color-bg-info-muted: 0 0% 100%;
    --color-bg-info-muted-hover: 0 0% 100%;
    --color-bg-info-muted-active: 0 0% 100%;

    --color-bg-tooltip: 0 0% 20%;

    --color-fg: 0 0% 98%;
    --color-fg-muted: 240 5% 64.9%;
    --color-fg-inverse: 0 0% 100%;
    --color-fg-disabled: 0 0% 45%;

    --color-fg-link: 213 100% 67%;
    --color-fg-link-hover: 213 100% 62%;
    --color-fg-link-active: 213 100% 57%;
    --color-fg-link-visited: 239 100% 67%;

    --color-fg-onNeutral: 0 0% 100%;

    --color-fg-onPrimary: 240 5.9% 0%;

    --color-fg-onSuccess: 0 0% 100%;
    --color-fg-onMutedSuccess: 0 0% 100%;

    --color-fg-onDanger: 0 0% 100%;
    --color-fg-onMutedDanger: 0 0% 100%;

    --color-fg-onWarning: 0 0% 0%;
    --color-fg-onMutedWarning: 0 0% 100%;

    --color-fg-onTooltip: 0 0% 100%;

    --color-border: 240 3.7% 22%;
    --color-border-hover: 240 3.7% 27%;
    --color-border-active: 240 3.7% 32%;
    --color-border-disabled: 0 0% 25%;
    --color-border-muted: 0 0% 25%;
    --color-border-danger: 358 69% 52%;
    --color-border-success: 131 41% 46%;

    --color-border-accent: 0 0% 25%;
    --color-border-secondary: 0 0% 100%;
    --color-border-focus: 210 100 66;
    --color-border-inverse: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-bg text-fg;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .category {
    position: relative;
  }

  .category:before {
    @apply absolute left-0 top-0 -ml-1 mt-1 h-2 w-2 rounded-full bg-muted content-[''];
  }

  .category:after {
    @apply absolute left-0 top-3 h-2 w-[1px] bg-muted content-[''];
  }

  .category-xl {
    position: relative;
  }

  .category-xl:before {
    @apply absolute left-0 top-0 -ml-[7px] mt-[7px] h-4 w-4 rounded-full bg-muted content-[''];
  }

  .category-xl:after {
    @apply absolute left-0 top-3 h-4 w-[1px] bg-muted content-[''];
  }

  @media (max-width: 640px) {
    .container {
      @apply px-4;
    }
  }
}
