@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 265.38 61.9% 49.41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72% 50.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 46.15% 4%;
    --foreground: 0 0% 98.04%;
    --card: 240 26.03% 14.31%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 241.79 69.07% 19.02%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 29.85% 26.27%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 22.22% 21.18%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 12%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.98% 22.94%;
    --input: 240 15.79% 26.08%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@layer utilities {
  .focus-ring {
    @apply ring-ring ring-offset-2 ring-offset-background transition duration-300 focus-within:outline-none focus-within:ring-2 focus-within:ring-ring hover:ring-[3px] hover:ring-ring/50 focus:outline-none focus:ring-[3px] focus:ring-ring disabled:ring-0 group-hover:ring-2 group-hover:ring-ring group-focus:ring-2 group-focus:ring-ring dark:ring-offset-background;
  }
}
