:root {
  --studio-segmented-control-radius: var(--studio-radius-container);
  --studio-segmented-control-state-duration: 150ms;
  --studio-segmented-control-state-ease: cubic-bezier(0.4, 0, 0.2, 1);
  --studio-segmented-control-color-duration: 150ms;
  --studio-segmented-control-color-ease: cubic-bezier(0.4, 0, 0.2, 1);
}
