:root {
  --studio-message-scroller-enter-duration: 400ms;
  --studio-message-scroller-exit-duration: 400ms;
  --studio-message-scroller-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --studio-message-scroller-exit-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
}
