:root {
	--slider-track-radius: var(--radius-full);
	--slider-thumb-radius: var(--radius-full);
	--slider-thumb-size: var(--spacing(2));
	--slider-thumb-track-gap: var(--spacing(1));
	--slider-thumb-shadow: var(--shadow-sm);
	--slider-fill-color: var(--color-primary);
	--slider-cursor: var(--cursor-interactive);
	--slider-dragging-cursor: var(--cursor-interactive);
	--slider-size: var(--spacing(2));
}
