@import "./base/base.css";
@import "./base/colors.css";
@import "./base/theme.css";
@import "./base/fonts.css";

/* dynamic styles */
:root {
	--alert-radius: var(--radius-lg);
	--avatar-radius: calc(infinity * 1px);
	--badge-radius: var(--radius-md);
}
