@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-with";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --ease-fluid-out: cubic-bezier(0.32, 0.72, 0, 1);
    --cursor-interactive: pointer;
    --cursor-disabled: not-allowed;
    --radius-xs: calc(var(--radius) * 0.25);
    --radius-sm: calc(var(--radius) * 0.5);
    --radius-md: calc(var(--radius) * 0.75);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.5);
    --radius-2xl: calc(var(--radius) * 2);
    --radius-3xl: calc(var(--radius) * 3);
    --radius-4xl: calc(var(--radius) * 4);
    --color-bg: var(--neutral-25);
    --color-muted: var(--neutral-100);
    --color-inverse: var(--neutral-950);
    --color-disabled: var(--neutral-100);
    --color-field: var(--neutral-100);
    --color-highlight: var(--neutral-200);
    --color-fg-on-highlight: var(--neutral-950);
    --color-selected: var(--neutral-300);
    --color-selected-hover: var(--neutral-400);
    --color-selected-active: var(--neutral-500);
    --color-fg-on-selected: var(--neutral-950);
    --color-neutral: var(--neutral-100);
    --color-neutral-hover: var(--neutral-200);
    --color-neutral-active: var(--neutral-300);
    --color-primary: var(--accent-700);
    --color-primary-hover: var(--accent-800);
    --color-primary-active: color-mix(in oklab, var(--accent-800) 88%, var(--neutral-950));
    --color-primary-muted: var(--accent-100);
    --color-fg-on-primary: var(--on-accent-700);
    --color-fg-primary-disabled: var(--accent-400);
    --color-selection: var(--selection-700);
    --color-selection-hover: var(--selection-800);
    --color-fg-on-selection: var(--on-selection-700);
    --color-success: var(--success-700);
    --color-success-hover: var(--success-800);
    --color-success-active: color-mix(in oklab, var(--success-800) 88%, var(--neutral-950));
    --color-success-muted: var(--success-100);
    --color-success-muted-hover: var(--success-200);
    --color-fg-success: var(--success-900);
    --color-fg-on-success: var(--on-success-700);
    --color-border-success: var(--success-400);
    --color-border-success-hover: var(--success-500);
    --color-danger: var(--danger-700);
    --color-danger-hover: var(--danger-800);
    --color-danger-active: color-mix(in oklab, var(--danger-800) 88%, var(--neutral-950));
    --color-danger-muted: var(--danger-100);
    --color-danger-muted-hover: var(--danger-200);
    --color-fg-danger: var(--danger-900);
    --color-fg-on-danger: var(--on-danger-700);
    --color-border-danger: var(--danger-400);
    --color-border-danger-hover: var(--danger-500);
    --color-warning: var(--warning-700);
    --color-warning-hover: var(--warning-800);
    --color-warning-active: color-mix(in oklab, var(--warning-800) 88%, var(--neutral-950));
    --color-warning-muted: var(--warning-100);
    --color-warning-muted-hover: var(--warning-200);
    --color-fg-warning: var(--warning-900);
    --color-fg-on-warning: var(--on-warning-700);
    --color-border-warning: var(--warning-400);
    --color-border-warning-hover: var(--warning-500);
    --color-info: var(--info-700);
    --color-info-hover: var(--info-800);
    --color-info-active: color-mix(in oklab, var(--info-800) 88%, var(--neutral-950));
    --color-info-muted: var(--info-100);
    --color-info-muted-hover: var(--info-200);
    --color-fg-info: var(--info-900);
    --color-fg-on-info: var(--on-info-700);
    --color-border-info: var(--info-400);
    --color-border-info-hover: var(--info-500);
    --color-accent: var(--accent-700);
    --color-accent-hover: var(--accent-800);
    --color-accent-active: color-mix(in oklab, var(--accent-800) 88%, var(--neutral-950));
    --color-accent-muted: var(--accent-100);
    --color-accent-muted-hover: var(--accent-200);
    --color-fg-accent: var(--accent-900);
    --color-fg-on-accent: var(--on-accent-700);
    --color-border-accent: var(--accent-400);
    --color-border-accent-hover: var(--accent-500);
    --color-fg: var(--neutral-950);
    --color-fg-muted: var(--neutral-900);
    --color-fg-inverse: var(--neutral-25);
    --color-fg-disabled: var(--neutral-600);
    --color-fg-on-neutral: var(--neutral-950);
    --color-border: color-mix(in oklab, var(--neutral-200) 50%, var(--neutral-300));
    --color-border-control: var(--neutral-400);
    --color-border-focus: var(--selection-700);
    --color-border-focus-muted: var(--selection-300);
    --color-tooltip: var(--neutral-950);
    --color-fg-on-tooltip: var(--neutral-25);
    --color-card: var(--neutral-50);
    --color-popover: var(--neutral-50);
    --color-sidebar: var(--neutral-50);
    --color-overlay: oklch(0 0 0);
    --color-thumb: oklch(1 0 0);
    --font-sans: var(--font-geist-sans);
    --font-heading: var(--font-sans);
    --font-mono: var(--font-geist-mono);
    --color-color-thumb: var(----color-thumb);
    --color-color-overlay: var(----color-overlay);
}

@custom-variant dark (&:is(.dark *, [data-mode='dark'] *):not([data-mode='light'] *));

@utility focus-reset {
    @apply ring-0 ring-transparent outline-none;
}

@utility focus-ring {
    @apply ring-2 ring-border-focus ring-offset-2 ring-offset-bg;
}

@utility focus-input {
    @apply border-border-focus ring-2 ring-border-focus-muted;
}

@utility no-highlight {
    -webkit-tap-highlight-color: transparent;
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-bg font-sans text-fg;
    }
  html {
    @apply font-sans;
    }
}
  ::selection {
    background-color: var(--accent-300);
    color: var(--neutral-950);
}
  .lucide,
.tabler-icon {
    stroke-width: var(--icon-stroke-width, 2);
}
  .hugeicon,
.hugeicon * {
    stroke-width: var(--icon-stroke-width, 1.5);
}
  :root {
    --radius: 0.625rem;
    --neutral-25: oklch(0.992 0.0021 258.04);
    --neutral-50: oklch(0.9831 0.003 258.04);
    --neutral-100: oklch(0.956 0.0042 258.04);
    --neutral-200: oklch(0.9317 0.0051 258.04);
    --neutral-300: oklch(0.9102 0.0069 258.04);
    --neutral-400: oklch(0.8827 0.0074 258.04);
    --neutral-500: oklch(0.8545 0.0091 258.04);
    --neutral-600: oklch(0.7919 0.0118 258.04);
    --neutral-700: oklch(0.6 0.0155 258.04);
    --neutral-800: oklch(0.5571 0.0144 258.04);
    --neutral-900: oklch(0.4997 0.013 258.04);
    --neutral-950: oklch(0.2399 0.0126 258.04);
    --neutral-a25: rgb(251 252 254 / 0);
    --neutral-a50: rgb(60 61 127 / 0.0157);
    --neutral-a100: rgb(16 37 39 / 0.051);
    --neutral-a200: rgb(8 21 46 / 0.0863);
    --neutral-a300: rgb(5 32 50 / 0.1176);
    --neutral-a400: rgb(3 24 39 / 0.1529);
    --neutral-a500: rgb(2 18 41 / 0.1922);
    --neutral-a600: rgb(4 16 40 / 0.2745);
    --neutral-a700: rgb(2 12 28 / 0.5137);
    --neutral-a800: rgb(2 11 23 / 0.5647);
    --neutral-a900: rgb(1 8 18 / 0.6235);
    --neutral-a950: rgb(0 3 10 / 0.8902);
    --on-neutral-700: oklch(1 0 0);
    --on-neutral-800: oklch(1 0 0);
    --accent-25: oklch(0.991 0.0042 241.04);
    --accent-50: oklch(0.9824 0.0083 241.04);
    --accent-100: oklch(0.9591 0.0195 241.04);
    --accent-200: oklch(0.9303 0.0336 241.04);
    --accent-300: oklch(0.8984 0.0496 241.04);
    --accent-400: oklch(0.86 0.0694 241.45);
    --accent-500: oklch(0.8021 0.1003 244.86);
    --accent-600: oklch(0.7308 0.1403 249.07);
    --accent-700: oklch(0.5787 0.2113 258.04);
    --accent-800: oklch(0.5345 0.1965 258.04);
    --accent-900: oklch(0.5235 0.191 259.15);
    --accent-950: oklch(0.3473 0.1008 262.67);
    --accent-a25: rgb(250 253 255 / 1);
    --accent-a50: rgb(33 180 254 / 0.0275);
    --accent-a100: rgb(8 160 254 / 0.0863);
    --accent-a200: rgb(3 148 248 / 0.1529);
    --accent-a300: rgb(1 140 246 / 0.2314);
    --accent-a400: rgb(3 143 245 / 0.3294);
    --accent-a500: rgb(1 135 248 / 0.4667);
    --accent-a600: rgb(0 131 251 / 0.6431);
    --accent-a700: rgb(0 110 243 / 0.9725);
    --accent-a800: rgb(0 100 220 / 0.9882);
    --accent-a900: rgb(0 87 210 / 0.9294);
    --accent-a950: rgb(0 30 91 / 0.8902);
    --on-accent-700: oklch(1 0 0);
    --on-accent-800: oklch(1 0 0);
    --success-25: oklch(0.9909 0.0024 154.91);
    --success-50: oklch(0.9816 0.0074 154.91);
    --success-100: oklch(0.9583 0.0201 154.91);
    --success-200: oklch(0.9264 0.0327 154.91);
    --success-300: oklch(0.895 0.0438 154.91);
    --success-400: oklch(0.856 0.0527 154.91);
    --success-500: oklch(0.7981 0.0622 154.91);
    --success-600: oklch(0.7225 0.0794 154.91);
    --success-700: oklch(0.6546 0.1176 154.91);
    --success-800: oklch(0.6148 0.1094 154.91);
    --success-900: oklch(0.5065 0.1063 154.91);
    --success-950: oklch(0.3385 0.0561 154.91);
    --success-a25: rgb(252 252 63 / 0.0157);
    --success-a50: rgb(60 221 31 / 0.0314);
    --success-a100: rgb(9 167 24 / 0.0824);
    --success-a200: rgb(3 159 33 / 0.149);
    --success-a300: rgb(1 146 33 / 0.2078);
    --success-a400: rgb(4 136 38 / 0.2824);
    --success-a500: rgb(2 118 34 / 0.3725);
    --success-a600: rgb(2 109 36 / 0.5059);
    --success-a700: rgb(0 127 49 / 0.6941);
    --success-a800: rgb(0 113 43 / 0.7176);
    --success-a900: rgb(1 96 42 / 0.8549);
    --success-a950: rgb(0 40 16 / 0.8863);
    --on-success-700: oklch(1 0 0);
    --on-success-800: oklch(1 0 0);
    --warning-25: oklch(0.992 0.0033 102.05);
    --warning-50: oklch(0.9821 0.01 102.05);
    --warning-100: oklch(0.9607 0.0272 102.05);
    --warning-200: oklch(0.9298 0.0442 102.05);
    --warning-300: oklch(0.8992 0.0592 100.6);
    --warning-400: oklch(0.8607 0.0714 95.22);
    --warning-500: oklch(0.8054 0.0841 87.47);
    --warning-600: oklch(0.7348 0.1074 82.24);
    --warning-700: oklch(0.7952 0.1591 86.05);
    --warning-800: oklch(0.7701 0.1508 86.05);
    --warning-900: oklch(0.5226 0.107 68.87);
    --warning-950: oklch(0.3493 0.0715 57.95);
    --warning-a25: rgb(255 254 246 / 0.502);
    --warning-a50: rgb(232 194 19 / 0.051);
    --warning-a100: rgb(203 181 7 / 0.1255);
    --warning-a200: rgb(187 169 4 / 0.2157);
    --warning-a300: rgb(181 155 3 / 0.298);
    --warning-a400: rgb(179 142 2 / 0.3882);
    --warning-a500: rgb(177 126 2 / 0.498);
    --warning-a600: rgb(179 117 0 / 0.6667);
    --warning-a700: rgb(231 172 0 / 0.9137);
    --warning-a800: rgb(219 160 0 / 0.8745);
    --warning-a900: rgb(136 79 0 / 0.9255);
    --warning-a950: rgb(75 36 0 / 0.9451);
    --on-warning-700: oklch(0.25 0.04 86.05);
    --on-warning-800: oklch(0.25 0.04 86.05);
    --danger-25: oklch(0.9921 0.0038 25.33);
    --danger-50: oklch(0.9832 0.0081 25.33);
    --danger-100: oklch(0.9631 0.0181 25.33);
    --danger-200: oklch(0.9345 0.033 25.33);
    --danger-300: oklch(0.9064 0.0483 25.33);
    --danger-400: oklch(0.8704 0.0692 25.33);
    --danger-500: oklch(0.8179 0.1022 25.33);
    --danger-600: oklch(0.7493 0.1381 25.33);
    --danger-700: oklch(0.6368 0.2046 25.33);
    --danger-800: oklch(0.5961 0.1903 25.33);
    --danger-900: oklch(0.539 0.1849 25.33);
    --danger-950: oklch(0.356 0.0976 25.33);
    --danger-a25: rgb(255 251 251 / 1);
    --danger-a50: rgb(255 247 247 / 1);
    --danger-a100: rgb(255 239 237 / 1);
    --danger-a200: rgb(255 226 222 / 1);
    --danger-a300: rgb(255 212 208 / 1);
    --danger-a400: rgb(255 195 189 / 1);
    --danger-a500: rgb(255 170 162 / 1);
    --danger-a600: rgb(247 22 2 / 0.498);
    --danger-a700: rgb(233 3 0 / 0.7294);
    --danger-a800: rgb(206 3 0 / 0.7529);
    --danger-a900: rgb(183 1 3 / 0.8157);
    --danger-a950: rgb(81 4 0 / 0.8745);
    --on-danger-700: oklch(1 0 0);
    --on-danger-800: oklch(1 0 0);
    --info-25: oklch(0.9924 0.0035 270);
    --info-50: oklch(0.9837 0.0076 270);
    --info-100: oklch(0.9618 0.0179 270);
    --info-200: oklch(0.9312 0.0327 270);
    --info-300: oklch(0.9007 0.0478 270);
    --info-400: oklch(0.8628 0.067 270);
    --info-500: oklch(0.8075 0.0962 270);
    --info-600: oklch(0.7371 0.135 270);
    --info-700: oklch(0.574 0.2295 270);
    --info-800: oklch(0.5295 0.2134 270);
    --info-900: oklch(0.5312 0.2074 270);
    --info-950: oklch(0.3514 0.1095 270);
    --info-a25: rgb(251 252 255 / 1);
    --info-a50: rgb(247 249 255 / 1);
    --info-a100: rgb(238 242 255 / 1);
    --info-a200: rgb(223 232 255 / 1);
    --info-a300: rgb(210 222 255 / 1);
    --info-a400: rgb(192 209 255 / 1);
    --info-a500: rgb(168 190 255 / 1);
    --info-a600: rgb(137 164 255 / 1);
    --info-a700: rgb(0 37 252 / 0.7098);
    --info-a800: rgb(0 32 219 / 0.7451);
    --info-a900: rgb(0 34 216 / 0.7412);
    --info-a950: rgb(1 17 91 / 0.851);
    --on-info-700: oklch(1 0 0);
    --on-info-800: oklch(1 0 0);
    --chart-1: oklch(0.7893 0.114 245.62);
    --chart-2: oklch(0.7224 0.1503 249.56);
    --chart-3: oklch(0.6566 0.1871 253.45);
    --chart-4: oklch(0.5925 0.2123 257.23);
    --chart-5: oklch(0.5328 0.2061 258.96);
    --chart-6: oklch(0.4744 0.1949 260.13);
    --chart-7: oklch(0.4149 0.183 261.32);
    --chart-8: oklch(0.3636 0.1727 262.34);
    --selection-25: oklch(0.991 0.0042 241.04);
    --selection-50: oklch(0.9824 0.0083 241.04);
    --selection-100: oklch(0.9591 0.0195 241.04);
    --selection-200: oklch(0.9303 0.0336 241.04);
    --selection-300: oklch(0.8984 0.0496 241.04);
    --selection-400: oklch(0.86 0.0694 241.45);
    --selection-500: oklch(0.8021 0.1003 244.86);
    --selection-600: oklch(0.7308 0.1403 249.07);
    --selection-700: oklch(0.5787 0.2113 258.04);
    --selection-800: oklch(0.5345 0.1965 258.04);
    --selection-900: oklch(0.5235 0.191 259.15);
    --selection-950: oklch(0.3473 0.1008 262.67);
    --selection-a25: rgb(250 253 255 / 1);
    --selection-a50: rgb(33 180 254 / 0.0275);
    --selection-a100: rgb(8 160 254 / 0.0863);
    --selection-a200: rgb(3 148 248 / 0.1529);
    --selection-a300: rgb(1 140 246 / 0.2314);
    --selection-a400: rgb(3 143 245 / 0.3294);
    --selection-a500: rgb(1 135 248 / 0.4667);
    --selection-a600: rgb(0 131 251 / 0.6431);
    --selection-a700: rgb(0 110 243 / 0.9725);
    --selection-a800: rgb(0 100 220 / 0.9882);
    --selection-a900: rgb(0 87 210 / 0.9294);
    --selection-a950: rgb(0 30 91 / 0.8902);
    --on-selection-700: oklch(1 0 0);
    --on-selection-800: oklch(1 0 0);
    --input-radius: var(--radius-control);
    --modal-backdrop-opacity: 40%;
    --modal-background: var(--color-popover);
    --modal-radius: var(--radius-panel);
    --popover-radius: var(--radius-surface);
    --btn-font-weight: var(--font-weight-medium);
    --card-radius: var(--radius-panel);
    --slider-thumb-size: calc(var(--spacing) * 3);
    --slider-fill-color: var(--color-primary);
    --slider-size: calc(var(--spacing) * 1);
    --calendar-cell-radius: var(--radius-md);
    --calendar-cell-size: --spacing(8);
}
  .dark {
    --neutral-25: oklch(0.131 0.0037 258.04);
    --neutral-50: oklch(0.1748 0.0035 258.04);
    --neutral-100: oklch(0.228 0.0042 258.04);
    --neutral-200: oklch(0.2699 0.0059 258.04);
    --neutral-300: oklch(0.3114 0.0069 258.04);
    --neutral-400: oklch(0.3608 0.0082 258.04);
    --neutral-500: oklch(0.4318 0.0096 258.04);
    --neutral-600: oklch(0.5243 0.0128 258.04);
    --neutral-700: oklch(0.6 0.0155 258.04);
    --neutral-800: oklch(0.6429 0.0144 258.04);
    --neutral-900: oklch(0.7762 0.0114 258.04);
    --neutral-950: oklch(0.9562 0.0029 258.04);
    --neutral-a25: rgb(7 7 9 / 0);
    --neutral-a50: rgb(193 239 218 / 0.0431);
    --neutral-a100: rgb(229 251 242 / 0.0902);
    --neutral-a200: rgb(232 240 250 / 0.1333);
    --neutral-a300: rgb(234 245 253 / 0.1765);
    --neutral-a400: rgb(228 237 252 / 0.2353);
    --neutral-a500: rgb(231 240 255 / 0.3137);
    --neutral-a600: rgb(230 241 255 / 0.4275);
    --neutral-a700: rgb(228 240 255 / 0.5255);
    --neutral-a800: rgb(231 240 254 / 0.5765);
    --neutral-a900: rgb(239 246 255 / 0.7373);
    --neutral-a950: rgb(252 254 255 / 0.949);
    --on-neutral-700: oklch(1 0 0);
    --on-neutral-800: oklch(1 0 0);
    --accent-25: oklch(0.1321 0.0184 265.04);
    --accent-50: oklch(0.1767 0.0292 265.04);
    --accent-100: oklch(0.2319 0.0723 264.98);
    --accent-200: oklch(0.2743 0.0998 264.13);
    --accent-300: oklch(0.3183 0.1101 263.25);
    --accent-400: oklch(0.3669 0.109 262.28);
    --accent-500: oklch(0.4332 0.1117 260.95);
    --accent-600: oklch(0.5288 0.1283 259.04);
    --accent-700: oklch(0.5787 0.2113 258.04);
    --accent-800: oklch(0.6229 0.1965 258.04);
    --accent-900: oklch(0.7735 0.1161 246.55);
    --accent-950: oklch(0.9197 0.0389 241.04);
    --accent-a25: rgb(0 8 228 / 0.0275);
    --accent-a50: rgb(54 123 253 / 0.0863);
    --accent-a100: rgb(30 94 255 / 0.2196);
    --accent-a200: rgb(26 92 255 / 0.3176);
    --accent-a300: rgb(38 104 254 / 0.3922);
    --accent-a400: rgb(56 125 253 / 0.451);
    --accent-a500: rgb(75 140 255 / 0.5373);
    --accent-a600: rgb(82 149 254 / 0.698);
    --accent-a700: rgb(7 120 255 / 0.9529);
    --accent-a800: rgb(46 133 255 / 0.9804);
    --accent-a900: rgb(119 191 255 / 0.9843);
    --accent-a950: rgb(208 234 255 / 0.9922);
    --on-accent-700: oklch(1 0 0);
    --on-accent-800: oklch(1 0 0);
    --success-25: oklch(0.1307 0.0102 154.91);
    --success-50: oklch(0.1743 0.0163 154.91);
    --success-100: oklch(0.2221 0.0402 154.91);
    --success-200: oklch(0.2633 0.0556 154.91);
    --success-300: oklch(0.3034 0.0613 154.91);
    --success-400: oklch(0.3565 0.0607 154.91);
    --success-500: oklch(0.4248 0.0622 154.91);
    --success-600: oklch(0.5175 0.0715 154.91);
    --success-700: oklch(0.6546 0.1176 154.91);
    --success-800: oklch(0.6546 0.1176 154.91);
    --success-900: oklch(0.7538 0.1195 154.91);
    --success-950: oklch(0.9148 0.0758 154.91);
    --success-a25: rgb(0 177 0 / 0.0118);
    --success-a50: rgb(93 241 94 / 0.0471);
    --success-a100: rgb(26 253 104 / 0.1059);
    --success-a200: rgb(14 249 107 / 0.1529);
    --success-a300: rgb(48 252 132 / 0.1961);
    --success-a400: rgb(102 255 154 / 0.2549);
    --success-a500: rgb(133 253 171 / 0.3333);
    --success-a600: rgb(146 253 182 / 0.4471);
    --success-a700: rgb(116 254 171 / 0.6392);
    --success-a800: rgb(116 254 171 / 0.6392);
    --success-a900: rgb(136 254 180 / 0.7725);
    --success-a950: rgb(197 255 216 / 0.949);
    --on-success-700: oklch(1 0 0);
    --on-success-800: oklch(1 0 0);
    --warning-25: oklch(0.1324 0.0139 56.05);
    --warning-50: oklch(0.1776 0.022 56.05);
    --warning-100: oklch(0.2311 0.0473 56.05);
    --warning-200: oklch(0.2731 0.0559 56.05);
    --warning-300: oklch(0.3168 0.0648 56.05);
    --warning-400: oklch(0.367 0.0751 59.06);
    --warning-500: oklch(0.4364 0.0841 63.44);
    --warning-600: oklch(0.53 0.0967 69.33);
    --warning-700: oklch(0.7952 0.1591 86.05);
    --warning-800: oklch(0.8288 0.148 86.05);
    --warning-900: oklch(0.7795 0.1596 85.06);
    --warning-950: oklch(0.9202 0.0885 102.05);
    --warning-a25: rgb(220 0 0 / 0.0235);
    --warning-a50: rgb(249 101 0 / 0.0745);
    --warning-a100: rgb(250 107 0 / 0.1608);
    --warning-a200: rgb(253 119 5 / 0.2157);
    --warning-a300: rgb(255 129 20 / 0.2706);
    --warning-a400: rgb(253 137 27 / 0.3451);
    --warning-a500: rgb(253 152 44 / 0.4353);
    --warning-a600: rgb(255 171 59 / 0.549);
    --warning-a700: rgb(254 195 23 / 0.9137);
    --warning-a800: rgb(255 202 69 / 0.9451);
    --warning-a900: rgb(254 191 0 / 0.902);
    --warning-a950: rgb(255 247 171 / 0.9412);
    --on-warning-700: oklch(0.25 0.04 86.05);
    --on-warning-800: oklch(0.25 0.04 86.05);
    --danger-25: oklch(0.133 0.0178 25.33);
    --danger-50: oklch(0.1798 0.0283 25.33);
    --danger-100: oklch(0.2381 0.07 25.33);
    --danger-200: oklch(0.2807 0.0967 25.33);
    --danger-300: oklch(0.3256 0.1066 25.33);
    --danger-400: oklch(0.3751 0.1055 25.33);
    --danger-500: oklch(0.4443 0.1081 25.33);
    --danger-600: oklch(0.5402 0.1243 25.33);
    --danger-700: oklch(0.6368 0.2046 25.33);
    --danger-800: oklch(0.6775 0.1903 25.33);
    --danger-900: oklch(0.7893 0.1218 25.33);
    --danger-950: oklch(0.9258 0.0377 25.33);
    --danger-a25: rgb(231 0 0 / 0.0314);
    --danger-a50: rgb(251 65 33 / 0.0863);
    --danger-a100: rgb(252 36 24 / 0.2078);
    --danger-a200: rgb(252 28 26 / 0.2941);
    --danger-a300: rgb(254 46 42 / 0.3608);
    --danger-a400: rgb(255 80 70 / 0.4157);
    --danger-a500: rgb(255 102 94 / 0.5098);
    --danger-a600: rgb(255 113 104 / 0.6627);
    --danger-a700: rgb(255 75 73 / 0.9333);
    --danger-a800: rgb(255 95 90 / 0.9686);
    --danger-a900: rgb(255 155 146 / 1);
    --danger-a950: rgb(255 222 218 / 1);
    --on-danger-700: oklch(1 0 0);
    --on-danger-800: oklch(1 0 0);
    --info-25: oklch(0.1314 0.02 270);
    --info-50: oklch(0.1753 0.0317 270);
    --info-100: oklch(0.2316 0.0785 270);
    --info-200: oklch(0.2759 0.1084 270);
    --info-300: oklch(0.3187 0.1196 270);
    --info-400: oklch(0.3676 0.1183 270);
    --info-500: oklch(0.4362 0.1213 270);
    --info-600: oklch(0.5316 0.1394 270);
    --info-700: oklch(0.574 0.2295 270);
    --info-800: oklch(0.6186 0.2052 270);
    --info-900: oklch(0.779 0.1117 270);
    --info-950: oklch(0.9243 0.0361 270);
    --info-a25: rgb(0 8 228 / 0.0275);
    --info-a50: rgb(54 112 253 / 0.0863);
    --info-a100: rgb(46 84 252 / 0.2353);
    --info-a200: rgb(48 77 253 / 0.3412);
    --info-a300: rgb(61 92 255 / 0.4118);
    --info-a400: rgb(76 110 253 / 0.4745);
    --info-a500: rgb(94 128 254 / 0.5647);
    --info-a600: rgb(103 136 255 / 0.7294);
    --info-a700: rgb(74 100 255 / 0.9922);
    --info-a800: rgb(88 118 255 / 1);
    --info-a900: rgb(155 179 255 / 1);
    --info-a950: rgb(220 230 255 / 1);
    --on-info-700: oklch(1 0 0);
    --on-info-800: oklch(1 0 0);
    --chart-1: oklch(0.8167 0.0993 244);
    --chart-2: oklch(0.7565 0.1318 247.56);
    --chart-3: oklch(0.6979 0.1639 251.01);
    --chart-4: oklch(0.6419 0.1955 254.32);
    --chart-5: oklch(0.585 0.2135 257.67);
    --chart-6: oklch(0.5264 0.2049 259.09);
    --chart-7: oklch(0.4744 0.1949 260.13);
    --chart-8: oklch(0.4244 0.1849 261.13);
    --color-border: color-mix(in oklab, var(--neutral-100) 50%, var(--neutral-200));
    --color-popover: color-mix(in oklab, var(--neutral-50) 50%, var(--neutral-100));
    --selection-25: oklch(0.1321 0.0184 265.04);
    --selection-50: oklch(0.1767 0.0292 265.04);
    --selection-100: oklch(0.2319 0.0723 264.98);
    --selection-200: oklch(0.2743 0.0998 264.13);
    --selection-300: oklch(0.3183 0.1101 263.25);
    --selection-400: oklch(0.3669 0.109 262.28);
    --selection-500: oklch(0.4332 0.1117 260.95);
    --selection-600: oklch(0.5288 0.1283 259.04);
    --selection-700: oklch(0.5787 0.2113 258.04);
    --selection-800: oklch(0.6229 0.1965 258.04);
    --selection-900: oklch(0.7735 0.1161 246.55);
    --selection-950: oklch(0.9197 0.0389 241.04);
    --selection-a25: rgb(0 8 228 / 0.0275);
    --selection-a50: rgb(54 123 253 / 0.0863);
    --selection-a100: rgb(30 94 255 / 0.2196);
    --selection-a200: rgb(26 92 255 / 0.3176);
    --selection-a300: rgb(38 104 254 / 0.3922);
    --selection-a400: rgb(56 125 253 / 0.451);
    --selection-a500: rgb(75 140 255 / 0.5373);
    --selection-a600: rgb(82 149 254 / 0.698);
    --selection-a700: rgb(7 120 255 / 0.9529);
    --selection-a800: rgb(46 133 255 / 0.9804);
    --selection-a900: rgb(119 191 255 / 0.9843);
    --selection-a950: rgb(208 234 255 / 0.9922);
    --on-selection-700: oklch(1 0 0);
    --on-selection-800: oklch(1 0 0);
}

@utility skeleton {
    position: relative;
    overflow: hidden;
    background-color: var(--color-muted);
    background-position: 100%;
  &:where(img, video, canvas, svg) {
    content-visibility: hidden;
    }
}

@utility skeleton--shimmer {
  &:where(.skeleton),
  &
    :where(
      .skeleton,
      [data-skeleton],
      [data-text],
      [data-label],
      [data-description],
      [data-card-title],
      [data-card-description],
      [data-menu-item-label],
      [data-menu-item-description],
      [data-listbox-item-label],
      [data-listbox-item-description],
      [data-button],
      [data-input-control],
      [data-badge],
      [data-tag],
      [data-kbd],
      [data-combobox-value],
      [data-avatar],
      [data-avatar-group-count],
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      small,
      strong,
      em,
      code,
      kbd,
      samp,
      figcaption,
      legend
    ) {
    overflow: hidden;
    background-image: linear-gradient(
      to right,
      var(--color-muted) 33%,
      color-mix(in oklab, var(--color-muted), var(--color-bg) 45%),
      var(--color-muted) 66%
    );
    background-size: 300% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    }
}

@utility skeleton--pulse {
  &:where(.skeleton),
  &
    :where(
      .skeleton,
      [data-skeleton],
      [data-text],
      [data-label],
      [data-description],
      [data-card-title],
      [data-card-description],
      [data-menu-item-label],
      [data-menu-item-description],
      [data-listbox-item-label],
      [data-listbox-item-description],
      [data-button],
      [data-input-control],
      [data-badge],
      [data-tag],
      [data-kbd],
      [data-combobox-value],
      [data-avatar],
      [data-avatar-group-count],
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      small,
      strong,
      em,
      code,
      kbd,
      samp,
      figcaption,
      legend
    ) {
    opacity: 1;
    }
}

@utility skeleton--none {
  &:where(.skeleton),
  &
    :where(
      .skeleton,
      [data-skeleton],
      [data-text],
      [data-label],
      [data-description],
      [data-card-title],
      [data-card-description],
      [data-menu-item-label],
      [data-menu-item-description],
      [data-listbox-item-label],
      [data-listbox-item-description],
      [data-button],
      [data-input-control],
      [data-badge],
      [data-tag],
      [data-kbd],
      [data-combobox-value],
      [data-avatar],
      [data-avatar-group-count],
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      small,
      strong,
      em,
      code,
      kbd,
      samp,
      figcaption,
      legend
    ) {
    background-image: none;
    animation: none;
    }
}
  [data-required] [data-label]::after {
    content: "*" / "";
}